<div class="container">
  <div class="logo">Create a new account!</div>
  <div class="register-item">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="form form-register">

      <div class="form-field">
        <label class="user" for="register-username"><span class="hidden">Name</span></label>
        <input name="name" id="register-username" type="email" class="form-input"
          placeholder="Name" [(ngModel)]="name" required>
      </div>
      <div class="form-field">
        <label class="user" for="register-email"><span class="hidden">Email</span></label>
        <input  name="email" id="register-email" type="email" class="form-input"
          placeholder="Email" [(ngModel)]="email" required>
      </div>

      <div class="form-field">
        <label class="lock" for="register-password"><span class="hidden">Password</span></label>
        <input name="password" id="register-password" type="password" class="form-input"
          placeholder="Password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
          <div #recaptcha name="recaptcha" class="g-recaptcha" data-sitekey="6LdbY6UUAAAAAAfAXTQ8plaWQmafIbzkn3u0S59b"></div>
          <input name="captcha" [(ngModel)]="captcha" hidden>
      </div>

      <div class="form-field">
        <input type="submit" [disabled]="!registerForm.valid" value="Register">
      </div>
    </form>
  </div>
</div>
